<%= link_to "Play", root_url, :class => 'brand' %>
<ul class="nav">
	<li><%= link_to('Scholarships', '/scholarships') %></li>
	<li><%= link_to('Loans', '/loans') %></li>
	<li><%= link_to('News', '/news') %></li>
	<li><%= link_to('Interviews', '/interviews') %></li>
	<li><%= link_to('Facts', '/facts') %></li>
</ul>